.Hero___wrapper {
  width: 100%;
}

.HeroImage___container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.Hero___text___container {
  align-items: center;
  position: relative;
  margin-top: 120px;
}

.Hero___title {
  margin-bottom: -5px;
}

.Hero___subTitle {
  margin-top: 0px;
}

@media screen and (min-width: 992px) {
  .Hero___wrapper {
    max-height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .Hero___text {
    position: absolute;
    text-align: left;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    max-width: 700px;
  }

  .HeroImage___container {
    padding-top: 250px;
  }

  .Hero___title {
    margin-bottom: -5px;
  }

  .Hero___subTitle {
    margin-top: 0px;
  }
}
