.Card {
  border-radius: 14px;
  border: 3px solid rgba(67, 115, 137, 0.94);
  box-shadow: 3px 3px 8px 1px #cecece;
 
}

.Card___sm {
  width: 345px;
  height: 200px;

  
}

.Card_lg {
  width: 876px;
  height: 287px;
}
.Card___basic {
  background: linear-gradient(
    261.91deg,
    rgba(38, 124, 204, 0.17) 1.29%,
    rgba(2, 164, 255, 0) 100%
  );
  mix-blend-mode: normal;
  opacity: 0.8;
}

.Card___project_card {
  overflow: hidden;
  background-size: cover;
  width: 345px;
  height: 220px;
  
  
}
