.Container {
  position: relative;
}

.Container___full {
 
}

.Container___sm {
  width: 50%;
  margin-bottom: 5px;
  
}

.Container___md {
  margin:auto;
  
}

.Container___lg {
  width: 80%;
}

.Container___spacing_sm {
  margin-bottom: 5px;

}

.Container___spacing_md {
  margin-bottom: 10px;

}

.Container___spacing_lg {
  margin-bottom: 50px;
}
