.Container {
  margin: 0px 20px;
  position: relative;
}

.Container___full {
 
}

.Container___sm {
  width: 50%;
  margin-bottom: 5px;
  
}

.Container___md {
  width: 75%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Container___lg {
  width: 80%;
}

.Container___spacing_sm {
  margin-bottom: 5px;

}

.Container___spacing_md {
  margin-bottom: 10px;

}

.Container___spacing_lg {
  margin-bottom: 50px;
}
