.Container {
    padding-top: 0px;
}

.Container___projects {
}

.Container___project {
}

.Container___hero {
    width: 100%;
    margin-top: 15vh;
}

.Container___spacing___lg {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10vh;
}

@media screen and (min-width: 1200px) {
    .Container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .Container___projects {
    }

    .Container___project {
    }

    .Container___CardList {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
    }

    .Container___hero {
        width: 100%;
        margin-top: 20vh;
    }
}
