.Paragraph {
    color: white;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}



@media screen and (min-width: 1200px) {
    .Paragraph {
        font-size: 18px;
    }
    .Paragraph___small {
        font-size: 14px;
    }
    .experienceList {
        font-size: 12px;
    }
}
