/* Thank you Trevor Eyre for the code on
https://codepen.io/trevoreyre/pen/bRrrEx
*/
.info {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1e1f21;
  transform: translateY(99%) translateY(-35px) translateZ(0);
  transition: transform 0.2s ease-out;
  mix-blend-mode: normal;
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* this is not getting used ATM. Use it when the overlay should be frosted.  */
.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 287px;
  overflow: hidden;
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(110px) translateZ(0);
  transition: transform 0.1s ease-out;
}

.infoTitle {
  margin-bottom: 5px;
  margin-top: 0px;
}

.infoDescription {
  margin-top: 0px;
  padding: 10px;
}

.infoButton {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project_card:hover .info,
.project_card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

@media screen and (min-width: 1200px) {
  .info {
    height: 287px;
    transform: translateY(99%) translateY(-120px) translateZ(0);
  }
  /* this is not getting used ATM. Use it when the overlay should be frosted.  */
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 287px;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%) translateY(110px) translateZ(0);
    transition: transform 0.1s ease-out;
  }

  .infoTitle {
    margin-bottom: 1px;
    margin-top: 0px;
  }

  .infoDescription {
    margin-top: 0px;
    padding: 1px;
  }

  .infoButton {
    position: absolute;
    bottom: 95px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .project_card:hover .info,
  .project_card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
}
