.Heading {
  color: rgba(138, 181, 187, 1);
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.Heading___h1 {
  font-size: 72px;
  line-height: 98px;
}

.Heading___h2 {
  font-size: 48px;
  line-height: 66px;
}

.Heading___h3 {
  font-size: 34px;
}

