.Heading {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  padding-top: 5px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0px;
}

.Heading___h1 {
  font-size: 40px;
  letter-spacing: 0.1rem;
}

.Heading___h2 {
  font-size: 32px;
  line-height: 66px;
  margin-bottom: 5px;
}

.Heading___h3 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {

  .Heading___h1 {
    font-size: 50px;
    line-height: 98px;
  }

  .Heading___h2 {
    font-size: 38px;
  }

  .Heading___h3 {
    font-size: 20px;
  }
}
