.Heading {
  color: rgb(28, 156, 173);
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  padding-top: 5px;
  width: 100%;
}

.Heading___h1 {
  font-size: 50px;
  line-height: 98px;
  letter-spacing: .10rem;
}

.Heading___h2 {
  font-size: 38px;
  line-height: 66px;
}

.Heading___h3 {
  font-size: 24px;
}

