.ProjectDescription_container {
    max-width: 850px;
}
.ProjectDescription_title {
    margin-bottom: 10px;

}
.ProjectDescription_description {
    margin-top: 5px;
}

.ProjectDescription_listItem {
    font-weight: 300;
    color: rgb(73, 111, 117);
    font-size: 22px;
    font-weight: 400;
    font-family: Avenir;
    list-style-type: circle;

}