@media screen and (min-width: 992px) {
  .Gallery {
    position: relative;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-radius: 1px solid rgb(28, 156, 173);
  }

  .SwiperSlide_slide {
  }

  .swiper {
    overflow: visible;
  }
}
