.Button {
  border: 0;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  padding: .8rem 2.1rem;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Button___primary {
  background-color: rgb(28, 156, 173);
  color: #ffffff;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.Button___secondary {
  background-color: rgb(28, 156, 173);
  color: #ffffff;
}

.Button___white {
  background-color: white;
  color: rgb(28, 156, 173);
}

.Button___CTA___primary {
  background-color: white;
  border: 1px solid rgb(28, 156, 173);
  color:rgb(28, 156, 173);
  border-radius: 0px;
  box-sizing: border-box;
}

.Button___CTA___secondary {
  background: rgb(28, 156, 173);
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid rgb(28, 156, 173);

}
