@font-face {
  font-family: "FoundersGrotesk";
  src: url("../public/fonts/FoundersGrotesk/TestFoundersGrotesk-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../public/fonts/FoundersGrotesk/TestFoundersGrotesk-Bold.otf");
  font-style: normal;
  font-weight: regular;
}

body {
  margin: 0px;
  font-family: "Avenir";
  max-width: 100%;
  background-color: #121213;
  height: 100%;
}

a {
  text-decoration: none;
  color: #23889f;
}
