@font-face {
  font-family: "FoundersGrotesk";
  src: url("../public/fonts/FoundersGrotesk/TestFoundersGrotesk-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../public/fonts/FoundersGrotesk/TestFoundersGrotesk-Bold.otf");
  font-style: normal;
  font-weight: regular;
}

@font-face {
  font-family: "Montserrat";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  background-color: #121213;
  height: 100%;
}

a {
  text-decoration: none;
  color: #23889f;
}
