.projects___container {
  margin-top: 25%;
  height: 100%;
}

.project___container {
  margin-top: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact___container {
  margin-top: 25%;
}

.hero___container {
    
}

@media screen and (min-width: 1200px) {
 /*  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  } */

  .projects___container {
    margin-top: 10vh;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;


  }

  .project___container {
    margin-top:  10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact___container {
    margin-top:  10vh;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  
}
